{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.ts,*.js, *.mjs",
      "options": {}
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "singleQuote": false
      }
    },
    {
      "files": "*.yaml,*.yml",
      "options": {
        "printWidth": 120,
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.json",
      "options": {}
    }
  ]
}
